{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1 class="mb-6 text-3xl">{{ title }}</h1>
<form method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
    <div class="space-y-4">
        <div class="mb-4">
            <label for="{{ form.category.id_for_label }}">Kategoria:</label>
            {{ form.category }}
        </div>
        <div class="mb-4">
            <label for="{{ form.name.id_for_label }}">Nazwa:</label>
            {{ form.name }}
        </div>
        <div class="mb-4">
            <label for="{{ form.description.id_for_label }}">Opis:</label>
            {{ form.description }}
        </div>
        <div class="mb-4">
            <label for="{{ form.price.id_for_label }}">Cena:</label>
            {{ form.price }}
        </div>
        <div class="mb-4">
            <label for="{{ form.image.id_for_label }}">Obrazek:</label>
            {{ form.image }}
        </div>
    </div>
    {% if form.errors or form.non_field_errors %}
        <div class="mb-3 p-6 bg-red-100 rounded-xl">
            {% for field in form %}
                {{field.errors}}
            {% endfor %}
            {{form.non_field_errors}}
        </div>
    {% endif %}
    <button class="mt-6 py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Zakończ</button>
</form>
{% endblock %}